<div class="gusev-wrapper">
	<div class="blocks">
		<img src="assets/gusev_img/calculate.png" class="nice-link" ui-sref=".calc" ng-if="state.is('gusev')">
		<p class="nice-link" ui-sref=".calc" ng-if="state.is('gusev')"> Калькулятор</p>
	</div>
	<div class="blocks">
		<img src="assets/gusev_img/belka.png" class="nice-link" ui-sref=".swipe" ng-if="state.is('gusev')">
		<p class="nice-link" ui-sref=".swipe" ng-if="state.is('gusev')" > SWIPER </p>
	</div>
	<div class="blocks">
		<img src="assets/gusev_img/doramap.jpeg" class="nice-link" ui-sref=".map" ng-if="state.is('gusev')">
		<p class="nice-link" ui-sref=".map" ng-if="state.is('gusev')" > Карта</p>
	</div>	
	<div class="blocks">
		<img src="assets/gusev_img/carnage.jpg" class="nice-link" ui-sref=".parser" ng-if="state.is('gusev')">
		<p class="nice-link" ui-sref=".parser" ng-if="state.is('gusev')" > Parser</p>
	</div>
<div>



<div ui-view class="task-wrapper"></div>

<div style="clear:both"></div>