<button ui-sref='.^'>Назад</button>
<input type="text" ng-model="obj.expression" disabled>

<button ng-click="calc()">посчитать</button>

<!-- <p>{{obj.res}}</p> -->

<button ng-click="obj.expression=obj.expression+'1'">1</button>
<button ng-click="obj.expression=obj.expression+'2'">2</button>
<button ng-click="obj.expression=obj.expression+'3'">3</button>
<button ng-click="obj.expression=obj.expression+'4'">4</button>
<button ng-click="obj.expression=obj.expression+'5'">5</button>
<button ng-click="obj.expression=obj.expression+'6'">6</button>
<button ng-click="obj.expression=obj.expression+'7'">7</button>
<button ng-click="obj.expression=obj.expression+'8'">8</button>
<button ng-click="obj.expression=obj.expression+'9'">9</button>
<button ng-click="obj.expression=obj.expression+'+'">+</button>



