.task-wrapper {
	width: 600px;
	padding: 30px;
	// margin: 0 auto;
	margin-top: 40px;
}

.niceLink {
	width: 100px;
}

.gusev_wrapper p,img {
	margin-left: 15%;
	font-size: 16px;
	cursor: pointer;
}



// КАЛЬКУЛЯТОР



.calc_wrapper {
	input {
		width: 100%;
		border-radius: 10px;
		font-size: 16px;
		// background-color: grey;
		color:#0000e2;

	}

	.numbers {
		width:50%;
		height: 200px;
		float: left;
		background-color: lightgrey;

			button {
				width: 25%;
				height: 50px;
				font-size: 24px;
				color:#21efcb;
				background-color: grey;
					&:hover {
						background-color: #21efcb;
						color: grey;
					}
					&:last-child {
						background-color: #3d3942;
						color: white;
							&:hover {
								background-color: #21efcb;
								color: #3d3942;
							}
					}

			}

	}
	.back {
		margin:0 0;
		margin-top: -50px;
	}
	.calc_math {
		width: 50%;
		height: 200px;
		float: right;
		background-color: lightgrey;

			button {
				width: 32.4%;
				height: 40.4px;
				background-color: darkgrey;
				font-size: 24px;
				color: #2432e8;
				margin-top:1px;
					&:first-child {
						margin-top: 0px;
					}



					&:last-child {
						width: 100%;
						background-color: #3d3942;	
						color: white;
					}
					&:hover {
						background-color: #2432e8;
						color: darkgrey;
					}

			} 
		.edit_power {
			input {
				width: 49.3%;
			}
		}

	}
}






